*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    background-color: goldenrod;
    text-align: center;
    padding: 20px;
    color: white;
}
.header h1{
    padding-bottom: 6px;
}

.navbar{
    display: flex;
    background-color: rgb(44, 42, 42);
}
.navbar a{
    color: white;
    padding: 16px 20px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
}
.ph{
    background-color: #aaa;
    width:100%;
    padding: 20px;
    margin: 10px;
}
#main{
    display: flex;
}
#sidebar{
    background-color: #f1f1f1;
    flex: 25%;
    order: 1;
    padding: 20px;
}
#content{
    flex:75%;
    padding: 20px;
}

.box{
    margin-bottom: 20px;
}

p{
    margin: 10px 0;
}



































