*{
    padding: 0;
    margin:0;
}
nav{
    display: flex;
    justify-content: space-between;
    background-color: blue;
    padding: 0 20px;
    text-decoration: none;
}
nav a{
    color: #fff;
    align-self: center;
    text-decoration: none;
    font-size: 17px;
}
.navigation{
    list-style: none;
    display: flex;
}
.navigation a{
    display: block;
    padding: 16px;
}
.navigation a:hover{
    background-color: rgb(25, 55, 228)
}


@media (max-width:600px){
    nav{
        flex-direction: column;
    }
    
    .navigation{
        flex-direction: column;
        align-items: center;
    }
}












